<!DOCTYPE html>
<html>
<head>
	<style type="text/css">
		body {
			background-color: skyblue; 
			font-family: verdana;
			color: #fff;
			padding: 30px;
		}
		h1 {
			font-size: 48px;
			text-transform: uppercase;
			letter-spacing: 2px;
			text-align: center;
		}
		p, li {
			font-size: 16px;
			text-align: center;
		}
		a {
			text-align: center;
			display: block;
		}
		h2 {
			font-size: 30px;
			text-transform: uppercase;
			letter-spacing: 2px;
			text-align: center;
		}
		ul {
			list-style: none;
			padding: 0;
			margin: 0;
		}
		form {
			display: flex;
			flex-direction: column;
		}
		form input {
			padding: 5px;
			margin-top: 3px;
		}
	</style>
	<title>Profile</title>
</head>
<body>
	<%- include('partials/nav'); %>
	<h1>Contact Us!</h1>
	<p>Thank for getting in touch!</p>
	<p>You contacted <%= data.who %> in the <%= data.department %> department.</p>
	<p>We will reply to you at <%= data.email %></p>

</body>
</html>